header {
  text-align: center;
  color: white;
}
body {
  background-color: rgb(37, 37, 37);
}

div {
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#a1 {
  padding: 5px;
}
#a2 {
  padding: 5px;
}
#a3 {
  padding: 5px;
}
#a4 {
  padding: 5px;
}